@use "../abstracts" as *;

.projects {
  display: grid;
  gap: clamp(1rem, 3vw, 2rem);
  justify-items: center;
  margin-bottom: 3rem;

  @include mq("md") {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    // staircase-like grid layout
    & li:nth-of-type(2) {
      margin-top: 3rem;
    }

    & li:nth-of-type(2n + 3) {
      margin-top: -3rem;
    }
  }
}

.project {
  display: grid;
  gap: 0.5rem;
}

.project__img-wrapper {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 0.4em;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 300ms ease;
  }

  &:is(:hover, :focus-within)::before {
    opacity: 1;
  }

  &:is(:hover, :focus-within) .project__img {
    scale: 1.05;
  }
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 300ms ease;
}

.project__meta {
  z-index: 2;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 300ms ease;

  .project__img-wrapper:is(:hover, :focus-within) & {
    opacity: 1;
  }

  @include mq("sm", "max") {
    flex-direction: column;
  }
}

.project__title {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}
