@use "../abstracts" as *;

.container {
  --padding: #{$container-padding};
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  &[data-type="narrow"] {
    --max-width: #{$container-max-width_narrow};
  }
}
