@use "../abstracts" as *;

.section-title {
  margin-bottom: 1em;

  &::before {
    content: "##";
    margin-right: 0.5em;
    font-size: 0.7em;
    opacity: 0.5;
    font-style: italic;
  }
}

.heading-1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-100);
}

.heading-2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.heading-3 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.small {
  font-size: var(--fs-300);
}

.text-center {
  text-align: center;
}
