.contact__details {
  & li {
    display: grid;
    grid-template-columns: 3ex 1fr;
    gap: var(--size-3);
    align-items: center;

    & i {
      justify-self: center;
      font-size: 1.5rem;
    }
  }

  & a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: inherit;

    &:is(:hover, :focus) {
      color: var(--clr-neutral-100);
    }
  }
}
