/* =============  
  Back To Top
=============== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  padding: 8px 15px;

  background-color: var(--neutral-900);
  color: var(--neutral-100);

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 500;
  transition: 250ms ease-in-out;
}

.back-to-top:is(:hover, :focus) {
  background-color: var(--clr-primary-400);
  transform: translateY(-.7rem) scale(1.05);
}