/* ==============
    Buttons
================ */
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .375em .75em;

    font-weight: var(--fw-700);

    outline: 0;
    border-radius: .25em;
    
    border: 1px solid transparent;
    cursor: pointer;
    
    transition-property: border-color, box-shadow, color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;

    /* for link */
    text-decoration: none;
    display: inline-block;
}

.btn:active { 
    opacity: .9; 
}

.btn[data-type="primary"] {
    background-color: var(--clr-primary-400);
    border-color: var(--clr-primary-400);
    color: #fff;
}

.btn[data-type="primary"]:is(:hover, :focus) {
    box-shadow: 0 0 0 0.2rem var(--clr-primary-200);
}

.btn[data-type="outline"] {
    background-color: transparent;
    border-color: var(--clr-primary-400);
    color: var(--clr-primary-400);
    box-shadow:inset 0 0 3px 3px var(--clr-primary-200);
}

.btn[data-type="outline"]:is(:hover, :focus) {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}