body {
  font-family: var(--ff-body);
  background-color: var(--neutral-900);
  color: var(--neutral-400);
}

main {
  position: relative;
}

.main {
  counter-reset: title;
}

section h2 {
  font-family: var(--ff-accent);
  margin-bottom: 3rem;
}

section > h2::before {
  counter-increment: title;
  content: "0" counter(title) ".";
  color: var(--clr-primary-400);
  margin-right: 3px;
}

section {
  min-height: 50vh;
  padding-block: 2rem;
}

@media (max-width: 50em) {
  section {
    min-height: auto;
  }
}

ul[role="list"] {
  list-style-image: url('/assets/images/check.svg');
  list-style-position: inside;
}