@use './mixins' as *;

:root {
  /* Static - never changes */
  --clr-primary-200: rgba(202, 227, 238, 0.6);
  --clr-primary-400: hsl(199, 83%, 47%);
  
  --ff-body: 'Open Sans', sans-serif;
  --ff-accent: 'Roboto Mono', monospace;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 800;

  --neutral-900: hsl(222, 45%, 10%);
  --neutral-800: hsl(222, 25%, 20%);
  --neutral-400: hsl(223, 10%, 72%);
  --neutral-200: hsl(225, 8%, 91%);
  --neutral-100: hsl(0, 0%, 100%); 


  /* Dynamic - depends on screen size */
  /* https://www.youtube.com/watch?v=ykn4XNDwW7Q */
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.375rem;
  --fs-900: 2rem;
  
  @include md('medium') {
    --fs-400: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 2.75rem;
    --fs-900: 4.125rem;
    }
}