---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404: Not Found | Doston Nabotov">
  <main class="container">
    <section class="section">
      <h1 class="site-title">
        <span class="highlight">404</span>: Not Found :(
      </h1>
      <p>Go back to <a href="/">Homepage</a></p>
    </section>
  </main>
</BaseLayout>
