---
import type { ProjectProps } from "../types";

import { fetchProjects } from "../data";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Button from "../components/Button.astro";
import Social from "../components/Social.astro";

const projects = fetchProjects(4);
---

<BaseLayout title="Doston Nabotov">
  <main class="container">
    <section class="section flow" data-flow-space="lg">
      <h1 class="site-title">
        <span>Hello, I'm</span>
        <br />
        Doston Nabotov
      </h1>
      <p class="lead">
        I'm a <span class="highlight">Frontend Developer</span> passionate about
        crafting elegantly simple yet creatively engaging websites that delight users.
      </p>
      <div class="button-group">
        <Button renderAs="link" href="#" data-variant="primary">
          About Me
        </Button>
        <Button renderAs="link" href="#" data-variant="secondary">
          <span>Download CV</span>
          <i class="fa-solid fa-download"></i>
        </Button>
      </div>
      <Social />
    </section>

    <section class="section">
      <h2 class="section-title">
        <span>About me</span>
      </h2>
      <div class="even-columns">
        <div>
          <div class="img-placeholder" data-ratio="1-1"></div>
        </div>
        <div class="flow">
          <p>
            Born and raised in Uzbekistan. I’m currently in my 2nd year of
            Computer Science at RTU in Riga, Latvia.
          </p>
          <p>
            My passion lies in creating websites that seamlessly blend
            creativity and functionality, all while prioritizing responsive and
            accessible designs.
          </p>
          <p>
            When I’m away from the keyboard, you'll often find me engrossed in a
            science fiction book. I also play chess and table tennis.
          </p>
          <p>
            Connect with me at
            <a class="highlight" href="mailto:dostonnabotov@gmail.com">
              dostonnabotov@gmail.com
            </a>.
          </p>
          <div class="button-group">
            <Button renderAs="link" href="#" data-variant="primary">
              Contact Me
            </Button>
            <Button renderAs="link" href="#" data-variant="secondary">
              See Projects
            </Button>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h2 class="section-title">
        <span>Projects</span>
      </h2>

      <ul role="list" class="projects">
        {projects.map((project: ProjectProps) => <Project {...project} />)}
      </ul>

      <Button
        renderAs="link"
        href="#"
        data-variant="primary"
        data-size="lg"
        className="x-center"
      >
        View All
      </Button>
    </section>

    <section class="section">
      <header>
        <h2 class="section-title">My Feed</h2>
      </header>

      <div class="feeds">
        <div class="feed grid-flow">
          <i class="feed__icon | fa-brands fa-youtube fa"></i>
          <h3 class="heading-3 | highlight">YouTube</h3>
          <p>
            In my free time, I make YouTube videos on frontend development
            projects.
          </p>
          <a
            href="https://www.youtube.com/@Technoph1le"
            target="_blank"
            rel="noopener noreferrer"
          >
            Check out the channel
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
        <div class="feed | grid-flow">
          <i class="feed__icon | fa-brands fa-dev"></i>
          <h3 class="heading-3 | highlight">Blog</h3>
          <p>
            I blog about frontend development to share valuable insights with
            the community.
          </p>
          <a
            href="https://dev.to/dostonnabotov/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Read articles
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
        <div class="feed | grid-flow">
          <i class="feed__icon | fa-brands fa-codepen"></i>
          <h3 class="heading-3 | highlight">CodePen</h3>
          <p>
            I create fun coding projects on CodePen to inspire and engage fellow
            developers.
          </p>
          <a
            href="https://codepen.io/dostonnabotov"
            target="_blank"
            rel="noopener noreferrer"
          >
            View projects
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
    </section>

    <section id="contact" class="section section--contact">
      <h2 class="section-title">Contact</h2>

      <p class="lead">
        Feel free to reach out to me at
        <b class="highlight">dostonnabotov@gmail.com</b>
      </p>

      <Button renderAs="link" href="#" data-variant="primary">
        Get in Touch
      </Button>
    </section>
  </main>
</BaseLayout>
