---
import type { PostProps, ProjectProps } from "../types";

import { fetchBlogArticles, fetchProjects } from "../data/index";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Post from "../components/Post.astro";

const blogArticles = (await fetchBlogArticles()).slice(0, 4);
const projects = fetchProjects().slice(0, 4);
---

<BaseLayout title="Doston Nabotov">
  <h1>Hello World</h1>

  <h2>Blog</h2>
  {blogArticles.map((article: PostProps) => <Post {...article} />)}

  <h2>Projects</h2>
  {projects.map((project: ProjectProps) => <Project {...project} />)}
</BaseLayout>
