---
import type { PostProps, ProjectProps } from "../types";

import { fetchBlogArticles, fetchProjects } from "../data/index";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Post from "../components/Post.astro";

const blogArticles = (await fetchBlogArticles()).slice(0, 6);
const projects = fetchProjects().slice(0, 4);
---

<BaseLayout title="Doston Nabotov">
  <div class="container">
    <h1 class="heading-1">Hello World</h1>
  </div>

  <section class="section">
    <div class="container flow">
      <h2 class="section-title | heading-2">Featured Projects</h2>

      <div class="projects">
        {projects.map((project: ProjectProps) => <Project {...project} />)}
      </div>
    </div>
  </section>

  <div class="section">
    <div class="container flow">
      <h2 class="section-title | heading-2">Latest Articles</h2>

      <div class="posts">
        {blogArticles.map((article: PostProps) => <Post {...article} />)}
      </div>
    </div>
  </div>
</BaseLayout>
