---
import type { PostProps, ProjectProps } from "../types";

import { fetchBlogArticles, fetchProjects } from "../data/index";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Post from "../components/Post.astro";

const blogArticles = (await fetchBlogArticles()).slice(0, 4);
const projects = fetchProjects().slice(0, 4);
---

<BaseLayout title="Doston Nabotov">
  <div class="container">
    <h1 class="heading-1">Hello World</h1>
  </div>

  <section class="section">
    <div class="container flow">
      <h2 class="section-title | heading-2">Featured Projects</h2>

      <div class="projects">
        {projects.map((project: ProjectProps) => <Project {...project} />)}
      </div>
    </div>
  </section>

  <div class="section">
    <div class="container flow" data-flow-space="xl">
      <h2 class="section-title | heading-2">Latest Articles</h2>

      <div class="posts">
        {blogArticles.map((article: PostProps) => <Post {...article} />)}
      </div>

      <button class="button | text-center">Check out more</button>
    </div>
  </div>

  <div class="section">
    <div class="container flow">
      <h2 class="section-title | heading-2">Contact me</h2>

      <div class="form-grid">
        <form class="form" onsubmit="
        return false;
        ">
          <div class="even-columns">
            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <input class="form-input" type="text" name="name" id="name" />
            </div>
            <div class="form-group">
              <label class="form-label" for="email">Email</label>
              <input class="form-input" type="email" name="email" id="email" />
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="message">Message</label>
            <textarea
              class="form-textarea"
              name="message"
              id="message"
              cols="30"
              rows="10"></textarea>
          </div>
          <button class="button" type="submit">Send message</button>
        </form>
        <div class="contact__details flow">
          <h3 class="heading-4">Reach me out:</h3>
          <ul role="list" class="flow">
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href="mailto:dostonnabotov@gmail.com"
                >dostonnabotov@gmail.com</a
              >
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Planet Earth :)</p>
            </li>
          </ul>
          <h3 class="heading-4">Social links:</h3>
          <ul role="list" class="flex-group">
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-codepen"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
