---
import type { ProjectProps } from "../types";

import { fetchProjects } from "../data";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";

const projects = fetchProjects();
---

<BaseLayout title="Projects | Doston Nabotov">
  <main class="container">
    <section class="section">
      <h1 class="section-title">All projects</h1>

      <ul role="list" class="projects">
        {projects.map((project: ProjectProps) => <Project {...project} />)}
      </ul>
    </section>
  </main>
</BaseLayout>
