<a href="/">Technophile</a>

<style lang="scss">
  a {
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--clr-text);

    &:is(:hover, :focus) {
      color: inherit;
    }
  }
</style>
