<footer class="footer">
  <div class="container">
    <div class="footer__inner | flow">
      <p>Check me out on other parts of the web:</p>
      <nav aria-label="social links">
        <ul role="list">
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              >YouTube</a
            >
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              >LinkedIn</a
            >
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              >CodePen</a
            >
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
