---
import BrandLogo from "./BrandLogo.astro";
import Social from "./Social.astro";
import { navLinks } from "./Navigation.astro";
---

<footer class="footer">
  <div class="container flow">
    <div class="footer__inner">
      <BrandLogo />

      <nav class="footer__nav">
        <ul role="list">
          {
            navLinks.map(({ name, url }) => (
              <li>
                <a href={url}>{name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <hr />

    <div class="footer__copyright">
      <p class="copyright">© Copyright 2023 - Doston Nabotov</p>

      <Social />
    </div>
  </div>
</footer>
