---
import Navigation from "./Navigation.astro";
import BrandLogo from "./BrandLogo.astro";
---

<header class="header">
  <div class="container">
    <div class="header__inner">
      <BrandLogo />
      <button
        id="mobile-nav-toggle"
        class="mobile-nav-toggle"
        aria-controls="primary-nav"
        aria-expanded="false"
      >
        <span class="sr-only">Menu</span>
        <i class="open-icon | fas fa-bars"></i>
        <i class="close-icon | fas fa-times"></i>
      </button>
      <Navigation />
    </div>
  </div>
</header>
