---
export const navLinks = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "About",
    url: "#about",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Feed",
    url: "#feed",
  },
  {
    name: "Contact",
    url: "#contact",
  },
];
---

<nav class="primary-nav" id="primary-nav" data-visible="false">
  <ul role="list">
    {
      navLinks.map(({ name, url }) => (
        <li>
          <a class="nav-link" href={url}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
