---
import Button from "./Button.astro";
---

<nav class="primary-nav" id="primary-nav" data-visible="false">
  <ul role="list">
    <li>
      <a class="nav-link" href="#" aria-current="page">Home</a>
    </li>
    <li>
      <a class="nav-link" href="#">About</a>
    </li>
    <li>
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li>
      <a class="nav-link" href="#">Feed</a>
    </li>
    <li>
      <Button renderAs="link" href="#" class="nav-link" data-variant="primary">
        Contact
      </Button>
    </li>
  </ul>
</nav>
