<ul role="list">
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github" title="GitHub"></i>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-youtube" title="YouTube"></i>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-codepen" title="CodePen"></i>
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    gap: 1em;
    font-size: 1.5rem;
  }
</style>
