---
const socialLinks = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/dostonnabotov/",
  },
  {
    name: "GitHub",
    url: "https://github.com/dostonnabotov",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/@technoph1le",
  },
  {
    name: "CodePen",
    url: "https://codepen.io/technoph1le",
  },
];
---

<ul role="list">
  {
    socialLinks.map(({ url, name }) => (
      <li>
        <a href={url} target="_blank" rel="noopener noreferrer">
          <i
            class:list={["fa-brands", `fa-${name.toLowerCase()}`]}
            title={name}
          />
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: 1.25em;
  }

  a {
    font-size: clamp(1.5rem, 3vw, 1.7rem);

    &:is(:hover, :focus) {
      color: var(--clr-accent);
    }
  }
</style>
