.footer {
  padding-block: var(--size-8);
}

.footer__inner {
  text-align: center;

  & ul {
    display: flex;
    gap: var(--size-6);
    justify-content: center;
    flex-wrap: wrap;
  }

  & a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--clr-neutral-100);
  }
}
