@use "../abstracts" as *;

.form-grid {
  display: grid;
  gap: clamp(var(--size-8), 7vw, var(--size-11));

  @include mq(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.form {
  display: grid;
  gap: var(--size-4);
}

.form-group {
  display: grid;
  gap: 0.25em;
}

.form-input,
.form-textarea {
  border: 1px solid var(--clr-neutral-700);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background-color: var(--clr-neutral-800);

  &:focus {
    outline: none;
    border-color: var(--clr-neutral-500);
  }
}

.form-textarea {
  resize: vertical;
}

.button {
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.25em;
  border: 1px solid crimson;
  background-color: crimson;

  .form & {
    width: fit-content;
  }
}
