@use "../abstracts" as *;

html {
  color-scheme: dark;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background-color: var(--clr-background);
  color: var(--clr-text);
  line-height: 1.5;
}

::selection {
  background: var(--clr-accent);
  color: var(--text);

  /** for gradient text
   + @see https://stackoverflow.com/questions/66012103/how-to-add-custom-selection-to-gradient-text
   */
  -webkit-text-fill-color: #fff;
}

:where(p, li, blockquote):not([class]) {
  max-width: 50ch;
}

a {
  color: inherit;
  text-underline-offset: 0.2em;
}

b {
  font-weight: var(--fw-bold);
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  background-image: var(--clr-gradient);
}
